<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="jumbotron text-center" style="background-color: white; padding: 2rem;">
      <h1 class="display-4">Welcome!</h1>
      <p class="lead">No books have been added yet. <a href="/books">Add a book now</a>.</p>
      <hr class="my-4">
      <p>Click the link above to add your first book to the collection.</p>
    </div>
  </div>